@model ContactViewModel

<li class="list-group-item bg-transparent" id="@Model.GetHashCode()">
    <div class="row">
        <div class="col-2">
            <p id="name">@Model.Name</p>
        </div>
        <div class="col-2">
            <p id="birthdate">@Model.BirthDate</p>
        </div>
        <div class="col-2">
            <p id="job">@Model.JobTitle</p>
        </div>
        <div class="col-2">
            <p id="phone">@Model.MobilePhone</p>
        </div>
        <div class="col-2">
            <div type="button" class="btn button" id="edit" onclick="CallModal(@Model.Id)">
                Edit
            </div>
        </div>
        <div class="col-2">
            <div type="button" class="btn redButton" id="delete" onclick="DeleteContact(@Model.Id, @Model.GetHashCode())">
                <p>Delete</p>
            </div>
        </div>
    </div>
</li>